.mainPage {
  display: flex;
  /* border: 1px solid black;  */
  justify-content: space-between;
  height: 90%;
  width: 90%;
  margin: auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #d6ae81;
  padding-left: 20px;
  padding-right: 30px;
  height: 800px;
  width: 200px;
  box-sizing: border-box;
  overflow-y: scroll;
  border-radius: 10px;
}
.layout {
  display: flex;
  /* border: 1px solid green; */
  flex-wrap: wrap;
  justify-content: start;
  margin: auto;
  width: 600px;
  height: 800px;
}
.pagesLinks {
  text-decoration: none;
  /* border: 1px solid black; */
  padding: 20px 5px;
  font-weight: 600;
  color: #341c01;
}
a:hover {
  color: #9b5402;
}
